@import '../../../styles/variables.scss';

.wrapper {
    width: min(1020px, 100% - $padding-double);
    margin-inline: auto;
;}

table {
    width: 100%;
    border-collapse: collapse;
    background: $color-gold;
}

caption,
th,
td {
    padding: $padding-base;
}

caption,
th {
    text-align: left;
}

caption {
    background: $color-maroon;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
}

th {
    background: $color-dark;
}

tr:nth-of-type(2n) {
    background: $color-dark-transparent;
}

td {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td:hover {
    overflow: visible; 
    white-space: normal;
    height:auto;
}

.character-name {
    width: 232px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: $padding-half 0;
    border-radius: $border-radius-base;
}


.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $color-light-gold;
    color: $color-white;
    padding: 4px 12px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
  }
  
  .scroll-to-top-button:hover {
    background-color: $color-dark-gold;
  }

  .chart {
      display: flex;
      align-items: center;
      margin: 0 $margin-base;
  }

  .pie-icon {
      cursor: pointer;
  }

  .bounce { 
    animation: bounce 3s ease-in 1s 5 alternate;
  }
  
  @keyframes bounce {
    0%, 20% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-20px);
    }
    15% {
      transform: translateY(-15px);
    }
    20%, 100% {
      transform: translateY(0);
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .mickey {
    position: relative;
    width: 100px;
    height: 100px;
    background: $color-black;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  .ear {
    position: absolute;
    top: -30px;
    width: 50px;
    height: 50px;
    background: $color-black;
    border-radius: 50%;
  }
  
  .left-ear {
    left: -30px;
  }
  
  .right-ear {
    right: -30px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


  @media (max-width: 650px) {
    th {
        display: none;
    }
    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: .5rem 1rem;
    }
    td:first-child {
        padding-top: $padding-medium;
    }
    td:last-child {
        padding-bottom: $padding-medium;
    }
    td::before {
        content: attr(data-cell) ": ";
        font-weight: $font-weight-bold;
        text-transform: capitalize;
    }
}

@media (max-width: 920px) {
    .search-container {
        flex-direction: column;
        align-items: center;
    }
}