@import '../../../styles/variables.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .pagination-info {
    display: flex;
    align-items: center;
    margin: 0 1rem;
  }
  
  .pagination-content span {
    margin-right: 0.5rem;
  }
  
  .pagination-container {
    display: flex;
    flex-direction: row;
    margin: 0 0.5rem;
    align-items: center;
  }
  
  .pagination-arrow-button {
    background-color: $color-navy;
    color: $color-white;
    border: none;
    padding: $padding-half $padding-base;
    cursor: pointer;
    border-radius: $border-radius-base;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
  }

  
  .pagination-arrow-button:disabled {
    background-color: $color-disabled;
    padding: padding-half $padding-base;
    cursor: not-allowed;
  }

  .items-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .disney-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .disney-list li {
    padding: $padding-half $padding-base;
    border: 1px solid $color-dark-red;
    background-color: $color-gold;
    color: $color-navy;
    cursor: pointer;
    border-radius: $border-radius-base;
  }
  
  .disney-list li.selected {
    background-color: $color-dark-red;
    color: $color-white;
  }

  @media (max-width: 920px) {
    .container {
      display: flex;
      flex-direction: column;
    }
    .pagination-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    .total-pages {
      flex-basis: 100%;
      padding-right: $padding-base;
      text-align: center;
    }
    span {
      font-size: $font-size-small;
    }

    .items-container {
      flex-direction: column;
      gap: 0;
    }
}