@import '../../../styles/variables.scss';

.piechart-modal-backdrop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-navy-light;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 10px;
  }
  
  .piechart-modal-content {
    background: $color-white;
    border-radius: 8px;
    width: 500px;
    overflow-y: auto;
    box-shadow:$shadow-base;
    animation: slideIn .3s ease-out;
    overflow-x: auto;
  }
  
  .piechart-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: $color-navy-darker;
    cursor: pointer;
  
    &:hover {
      color: $color-dark-red;
    }
  }
  